name: github-actions branch

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-16.04
    steps:
      - name: Create tag
        uses: actions/github-script@v4
        with:
          script: |
            const fs = __original_require__('fs');

            console.log(process.cwd());

            fs.readdir('./', (err, files) => {
              files.forEach(file => {
                console.log(file);
              });
            });

            //const version = fs.readFileSync('./.version');
            //console.log("version number: ", version);
            console.log('hello there');
            console.log(`Pull request: ${context.issue.number}`);
